<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>
          
            <div class="form-label-group">
              <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
              <label for="inputEmail">E-mail</label>
            </div>
          
            <div class="form-label-group">
              <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
              <label for="inputPassword">Senha</label>
            </div>
          
            <button class="btn btn-lg btn-warning btn-block" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted text-center">Biju de Lua @2022</p>
          </form>
    </div>
</div>

