<div class="card h-100 shadow-sm">
  <img src="{{product.pictureUrl}}" height="400px" width="400px" alt="{{product.name}}">
  <div class="card-body d-flex flex-column">
    <a href="#">
      <h6 class="text-uppercase">{{product.name}}</h6>
    </a>
    <span class="mb-2">{{product.price | currency }}</span>
      <div class="btn-group mt-auto">
        <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"> Carrinho </button>
        <button type="button" class="btn btn-outline-secondary">Ver</button>
      </div>
      <small class="text-muted">9 mins</small>
  </div>
</div>
